
.btn-primary{
    background-color: red;
   padding: 16px;
   margin-top: 90px;
   margin-bottom: 12px;
   margin-left:680px;
   margin-right:28px;
   font-size: 16px;
   font-style: center;
   justify-content: center;
}
.btn-info{
    padding: 16px;
   margin-top: 23px;
   margin-bottom: 12px;
   margin-left:680px;
   margin-right:28px;
   font-size: 14px;
   font-style: center;
   justify-content: center;
}
#example{
    font-size:28px;
    font-style:bold;
    color:rgb(52, 87, 87);
    margin-top: 23px;
    margin-bottom: 12px;
    margin-left:320px;
    margin-right:23px;

}
#examplee{
    font-size:28px;
    font-style:bold;
    color:rgb(52, 87, 87);
    margin-top: 23px;
    margin-bottom: 12px;
    margin-left:655px;
    margin-right:23px;

}
